{% include header.html %}

<header class="salmon-bg">
        <div class="body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-md-offset">
                        <img class="empa-logo" src="/img/logo/empa-logo-v3.png"><br>
                        <!--                         <span class="intro-phone title-text">
                            <a class="page-scroll intro-phone" href="#find-hotline">Find A Hotline</a>
                            <br>
                        </span> -->
                        <h2 class="landing-sub">Supportive conversations start here: <a href="tel: 6193632623" target="_blank" style="text-decoration: none;">619-363-2623</a>.</h2>
                        <!--<br>
                        <h2 class="landing-phone">619-363-2623.</h2>-->
                        <!--<br>
                        <a class="btn btn-default page-scroll btnondark" href="#find-hotline" role="button">Find your hotline</a>
                      -->
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="salmon-bg container content-section text-center" id="who-we-are">
        <div class="about-body">
            <div class="container">
              <div class="col-md-12">
                  <span class="guide-span title-text">Who We Are</span>
              </div>
              <div class="row guide-row">
                  <div class="col-md-4">
                      <div class="guide-item">
                        <p style="font-weight:bold;" class="mobile-p">Our Philosophy</p>
                        <div class="guide-description">
                          Language is a technology, just like a cell phone or a car. It helps us communicate with each other and travel through society. It is also the paintbrush through which we express our mental and emotional landscapes to ourselves. <br><br>
                          We go to the mechanic when our bike starts making funny noises. We find a trainer or join a gym when we want to enhance the performance of our body. But to whom do we turn when we want to tune-up our attitude or blow off steam, when we run out of motivation gas, or when we need a spare smile? <br><br>
                          Some people find their friends, families, or partners helpful. Some people turn to professionals, like therapists or spiritual leaders. Some people take to the forums or social media. It might be the scheduling logistics, or the fear of judgment, or the lack of trust, or the certainty that the other person won't truly understand...for many, the existing options just don't quite fit every situation. <br><br>
                          We know that text message conversations aren't everyone's cup of tea, so we might not fit either, and that's OK. In general, being vulnerable is very hard. And $25 is a lot to ask for something as simple as a conversation. We wish that we could provide our service for free, all the time, in a million different formats, to everyone, everywhere, but unfortunately we haven't yet figured out how to do that in a sustainable, high-quality way.
                          <br><br>For now, we just want to bring our option to the table: real, genuine, convenient, and truly helpful Empatext dialogue. We want to provide you with emotional breathing room, a space where you can share your mental landscape paintings. We believe that words are so, so powerful; they can paint a thousand pictures. And we believe that your words matter. We hear you, we value you, and we want to paint with you.
                        </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="guide-item">
                        <p class="mobile-p"  style="font-weight:bold;">Our Founder</p>
                        <div class="guide-description">
                          At age 10, Andy was required to see a therapist regularly due to family circumstances. The visits became a dreaded chore, and he struggled for years to relate before finally being let off the hook. He had no idea at the time that it was possible to shop around to find the right fit, and he didn't have many alternative options available to grapple with his mental health.<br><br>

                          When Andy went to college, he saw a similar gap between the needs of students and the options available on campus. With some friends, he created <a href="https://lean0n.me/" target="_blank">Lean On Me</a>, which offers a text-based support service very similar to Empatext. It started as a student group, but the idea quickly spread to other campuses. Now, Lean On Me is a national nonprofit which has trained and served hundreds of supporters and students across the country.<br><br>

                          Andy is extremely thankful to his family, friends, and mentors for their support and guidance through the years. He considers himself lucky to have work experience in food service, retail, government, banking, academia, software, aerospace engineering, education, and venture capital. In every field and relationship, he has found the common thread of communication tying together the human experience. He is very excited for the opportunity to work directly with conversation, this most powerful medium, tool, and technology, in crafting the future of Empatext.<br><br>

                          Andy earned a bachelor's in mathematics with computer science from MIT after three years of classes. He is an avid chess player who enjoys consuming books and empanadas. He is currently based in San Diego.
                            <br><br><br>
                            <div class="headshot-div">
                              <img class="mobile-headshot" src="/img/headshot.png"/>
                            </div>
                            </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="guide-item">
                        <p class="mobile-p"  style="font-weight:bold;">Our Empatexters</p>
                        <div class="guide-description">
                          Empatext is a made-up word combining "empa" from <a href="https://youtu.be/1Evwgu369Jw?t=8s" target="_blank">empathy</a>&mdash;the ability to understand and share the feelings of another&mdash;and "text" from text message. <br><br>

                          An Empatexter is someone we have trained (using <a href="https://www.youtube.com/watch?v=66qQRMfW1Xg" target="_blank">core ideas</a> from Lean On Me and other established services) to have a deep, meaningful, emotionally supportive conversation with you. We believe that anybody can learn the skills we teach, but just to be sure, we only allow the most exceptionally empathetic people to become Empatexters. <br><br>

                          When your partner, friend, or family member is going through a rough time, what do you do? You might ask them what's going on and how you can help, but you probably don't throw your hands up and say, "sorry, we can't talk because I'm not a licensed psychiatrist." We don't require a professional counseling license or any other certification because we have learned from suicide helplines like <a href="ttps://samaritanshope.org/" target="_blank">Samaritans</a> how nonprofessional volunteers can learn to tackle some of the toughest conversations possible. <br><br>

                          We know that our Empatexters can handle a wide variety of conversations, but they can't handle everything. We aren't trying to replace any existing services, just to provide another option. If the conversation indicates medical or emergency services are better suited to your needs, we will stay present with you and carry on as supportive a conversation as possible, but we will always recommend seeking professional help elsewhere as a potentially better option. <br><br>

                          It is up to each Empatexter whether or not to reveal their identity during conversation with you, just as it is up to you whether or not you use your real name. If you are interested in becoming an Empatexter, please contact us using the email provided below!
                        </div>
                      </div>
                  </div>

              </div>
            </div>
        </div>
    </section>

{% include footer.html %}
